*{
   margin: 0px;
   border: 0px;
   padding: 0px;
    font-family: cursive;
}


header {
    background-color: #553bc8; 
    width: 100%;
    height: 60px;
    color: white;
}

header h2 {
    color: white;
    text-align: center;
    padding: 10px; 
    text-shadow: 50px;
}

header h2:hover {
    color: rgb(23, 15, 3);
}

section h3, h2 {
    text-align: center;

}

button {
    color: #553bc8;
    padding: 5px;
    background-color: rgb(250, 249, 249); 
    margin-left: 50px;
    margin-top: 40px;
    
}

button:hover {
    background-color: rgb(3, 3, 3);
}

footer{
    background-color: #3b55c8;
}

footer h4, a{
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
}

footer h4:hover, p:hover {
    color: rgb(17, 12, 4);
}

.banner {
    width: 100%;
    height: 600px;
    background-image: url('https://img.ctykit.com/cdn/az-mesa/images/tr:w-900/book-in-library-with-open-textbook.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.row {
    height: 500px; 
    width: 100%;
    background-color: #060c5f;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.col{
    height: 400px;
    width: 210px;
    background-color: #6749ee;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    /* padding: 20px;*/
     border: 3px solid rgb(234, 226, 226);
     
}

footer a{
    color: white;
    text-decoration: none;
    background-color: #3b55c8;
    display: flex;
    justify-content: center;
}

footer a:hover{
    color: black;
}

@media screen and (max-width: 400px)
{
    header{
        width: 400px;
    }

    .banner{
        width: 400px;
        height: 500px;
    }

    .row{
        width: 400px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .col{
        height: auto;
        width: 300px;
        margin: 20px;
    }

    .col button{
        margin-left: 120px;
        margin-bottom: 30px;
    }
    footer{
        width: 400px;
    }
}

@media screen and (max-width: 800px)
{
    header{
        width: 800px;
    }

    .banner{
        width: 800px;
        height: 500px;
    }

    .row {
        width: 800px;
        height: auto;
        display: flex;
        flex-wrap: wrap; 
    }
    
    .col {
        height: 450px;
        width: 250px;
        margin: 20px;
    }
    

    .col button{
       margin: 100px;
    }
    footer{
        width: 800px;
    }
}




